.about {
  grid-area: about;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  background-color: var(--dark-color);
  color: var(--ligth-color);
}

.about-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  object-fit: contain;
}

.about-text h2 {
  color: var(--gold-color);
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .about-text {
    padding: 1rem;
    text-align: left;
  }
  .about-image img {
    border-radius: 50%;
  }
}
