/* animação da tesoura */
@keyframes sobeDesce {
  0% {
    opacity: 0.5;
    bottom: 1%;
  }
  100% {
    opacity: 1;
    bottom: 5%;
  }
}
/* animação de aparicao suave */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Começa um pouco abaixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

.hero {
  grid-area: hero;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  /* background: url(../images/hero-image.jpg) no-repeat center center/cover; */
  background: url(../images/hero-igor-image-ia.png) no-repeat center top/cover;
  height: 90dvh;
  width: 100%;
  gap: 1rem;
  position: relative;
  text-transform: uppercase;
  animation: fadeIn 2s ease-in-out;
}
.hero a {
  padding: 1rem 2rem;
}

.hero button {
  padding: 1rem 0.5rem;
  background-color: var(--dark-color);
  color: var(--ligth-color);
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  text-transform: uppercase;
}

.hero::before {
  position: absolute;
  content: url(../images/tesoura.svg);
  width: 30px;
  transform: rotate(90deg);
  animation: sobeDesce 1s ease-in-out infinite alternate;
}
